section {

    h3 {
        color: #37245C;
    }

    p {
        color: #2A4966;
        font-size: 20px;
        text-align: center;
    }
}

body {
    background-color: #f8f9fa;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


textarea {
    border-radius: 8px;
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 10px;
    font-family: Arial, sans-serif;
    resize: none;
}

button {
    background-color: #554078;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #44325e;
}

.g-btn {
    background-color: #554078;
    color: white;
}

.copy-btn {
    background-color: #554078;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    border: none;
}

.copy-btn:hover {
    background-color: #554078;
}

/* Layout Modifications for Responsiveness */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .row {
        flex-direction: column;
    }

    .col-md-5,
    .col-md-7 {
        width: 100%;
    }

    textarea {
        width: 100%;
    }
}

.preview-container {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    min-height: 200px;
    overflow: auto;
    padding: 10px;
}