// -------------- Components --------------
@import './SCSS/Components/bootstrap';
@import './SCSS/Components/ScreenLoader';
// -------------- Auth --------------
// -------------- Dashboard --------------
// -------------- Frontend --------------
body {
    font-family: 'DM Serif Text', serif;
    background-color: #FFFFFF;
}

h1 {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
}